.btn-primaire {


    background-color: #0C134F;
    color: white;
    border-color: #0C134F;
    }
    .bg-primaire {

      background-color: #0C134F;
      color: white;
    }
    
     .btn-secondaire{
   

      background-color: #7447FF;
      color: white;
    border-color: #7447FF;
    
    }

    .btn-secondaire-per{
      padding: 1em 2.7em;
      border-radius: 1em;
      font-size: 17px;
  font-weight: 500;

      background-color: #7447FF;
      color: white;
    border-color: #7447FF;
    
    }

    .btn-secondaire-per:hover{
      padding: 1em 2.7em;
      border-radius: 1em;
      font-size: 17px;
  font-weight: 500;

      background-color: #8761f9;
      color: white;
    border-color: #8761f9;
    
    }

    .btn-primaire-per{
      padding: 1em 2.7em;
      border-radius: 1em;
      font-size: 17px;
  font-weight: 500;

  background-color: #0C134F;
  color: white;
  border-color: #0C134F;
    
    }
    
    .btn-primaire:hover {
    
    
      background-color: #1e2455;
      color: white;
    
      }
    
     .btn-secondaire:hover{
    
      background-color: #8761f9;
      color:white;
    
    }

    .bg-linear {
      background: linear-gradient(to right, #8761f9, #f3f2f2); /* Remplacez #ffffff par la couleur de fond souhaitée */
  }
  

  .pagination .page-link {
    background-color: #fff;
    color: #7447FF;
    border-color: #7447FF;
}

.pagination .page-link:hover {
    background-color: #8761f9;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #8761f9;
    color: white;
}

.pagination .page-item.disabled .page-link {
    background-color: #ccc;
    color: #777;
    border-color: #777;
    cursor: not-allowed;
}


  .bg-linear-login {
    background: linear-gradient(to left, #8761f9, #f3f2f2); /* Remplacez #ffffff par la couleur de fond souhaitée */
}
    
    .has-error .form-control {
      border-color: red;
  }
  
  .has-error .is-invalid {
      border-color: red;
  }
  .btn-outline-custom-secondaire {
    color: #7447FF;
    background-color:#fff ;
    border-color: #7447FF;
  }
  
  .btn-outline-custom-primaire {
    color: #1e2455;
    background-color: #fff;
    border-color: #1e2455;
  }


  .btn-outline-custom-primaire-per {
    padding: 1em 2.7em;
    border-radius: 1em;
    font-size: 17px;
font-weight: 500;
    color: #1e2455;
    background-color: transparent;
    border-color: #1e2455;
  }
  
  .btn-outline-custom-secondaire:hover {
    color: #fff;
    background-color: #7447FF;
    border-color: #7447FF;
  }
  
  .btn-outline-custom-primaire:hover {
    color: #fff;
    background-color: #1e2455;
    border-color: #1e2455;
  }

  .btn-outline-custom-primaire-per:hover {
    padding: 1em 2.7em;
    border-radius: 1em;
    font-size: 17px;
font-weight: 500;
    color: #fff;
    background-color: #1e2455;
    border-color: #1e2455;
  }
  .bg-secondiare {

    background-color: #7447FF;
    color: #fff;

  }

  .bg-primaire{
    color: #fff;
    background-color: #1e2455;

  }